// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$font-family-sans-serif:  'Montserrat', sans-serif;

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "main";
@import "sidebar";

// Components
@import "general";
@import "button/float-btn.scss";
@import "button/border-btn";
@import "card";

// DataTables
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import "datatables.net-bs5/css/dataTables.bootstrap5.min.css";
@import "datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css";
@import 'datatables.net-select-bs5/css/select.bootstrap5.css';

a{
    text-decoration: none !important;
}

.form-control{
    background: transparent !important;
}

.btn{
    text-transform: uppercase !important;
    font-size: 13px;
    // letter-spacing: 0.7px;
}
