// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$font-family-sans-serif:  'Montserrat', sans-serif;

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "general";

.bg-img::before{
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 40%;
    transform: translateY(-50%);
    background: #8E54E9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4776E6, #8E54E9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4776E6, #8E54E9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    transition: 1.8s ease-in-out;
    border-radius: 50%;
}

.bg-img-2::before{
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: -95%;
    transform: translateY(-50%);
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    transition: 1.8s ease-in-out;
    border-radius: 50%;
}

.login-svg{
    width: 500px;
    display: block;
    transform: translate(40px, 10px);
}

.invalid-feedback{
    display: block !important;
    color: $red !important;
}

.social-icon{
    width: 40px;
    height: 40px;
    border: 1px solid #333;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.social-icon i{
    transition: 0.3s ease-in-out;
}

.social-icon:hover .fa-facebook-f{
    color: #1778f2;
    transform: scale(1.5);
}

.social-icon:hover .fa-google{
    color: limegreen;
    transform: scale(1.5);
}

.social-icon:hover .fa-twitter{
    color: #1da1f2;
    transform: scale(1.5);
}

.dark-mode-btn{
    position: absolute;
    top: 30px;
    right: 30px;
}

.form-control{
    background: transparent !important;
}
